body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('imgs/img13.JPG') center/cover no-repeat; /* #12121 background color */
  color: #F1F1F1;
}

header {
  text-align: center;
  padding: 60px 10px;
  background: url('imgs/IMG_0510.jpg') center/cover no-repeat; /* 1f1f1f background color */
  color: #fff;
}

h1 {
  font-size: 2em;
  background: linear-gradient(to left, blue, red, blue, red, blue);
  color: transparent; /* F1F1F1 */
  -webkit-background-clip: text;
  text-shadow: 0 0 35px #e22400;
  animation: anime 2s infinite alternate;
}

p {
  font-size: 1em;
  margin-top: 10px;
}
ppp {
  font-weight: bold;
}

nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #121212; /* link color */
  font-weight: bold;
  font-size: 1.2em;
}

.cta-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.cta-button {
  display: inline-block;
  padding: 15px 35px;
  background: #121212; /* #121212 button color */
  color: #F1F1F1;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 5.5px;
  border: 2px solid #202020; /* White border */
  cursor: pointer;
  transition: background-color 1s ease;
}

.cta-button p {
  font-size: 0.9em;
  color: #F1F1F1;
  font-weight: bold;
  transition: color 1s ease
}
.cta-button pr {
  font-size: 0.5em;
  color: #FF851A;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #1c1c1c; /* on hover */
}
.cta-button:hover p {
  color: #1c59e8; /* Discord blue */
  transform: scale(1.02);
}

.bio-section {
  padding: 30px 20px;
  text-align: center;
  background: url('imgs/IMG_0509.jpg') center/cover no-repeat; /* #121212 background color */
  margin-top: 5px;
}
.data-section {
  padding: 30px 20px;
  text-align: center;
  background: url('imgs/IMG_0511.jpg') center/cover no-repeat; /* background color */
  margin-top: 20px;
  color: #FF851A;
}
.data-section h2 {
  color: #F1F1F1;
}
.bio-section pp {
  color: #FF851A;
  font-weight: bold;
}
.bio-section qq {
  color: #FF851A;
  font-weight: bold;
}
.data-section pp {
  font-size: 0.75em;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333; /* footer background color */
  color: #fff;
  margin-top: 5px;
}
.bio-section bi {
  color: #F1F1F1;

}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333; /* Loading screen background color */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure loading screen */
}

.loader {
  border: 8px solid #f1f1f1; /* Light gray */
  border-top: 8px solid #3498db; /* Discord blue for the top border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

/* animation for the loading dots */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* once the page is loaded */
body.loaded #loading-screen {
  display: none;
}

/* Pulsating animation */
.pulse-container {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #1c1c1c;
}

.pulse-bubble-1 {
  animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
  animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
  animation: pulse .4s ease .4s infinite alternate;
}

@keyframes anime {
  100%{
    text-shadow: 0 0 35px #0056d6;
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}
