/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff; /* Default text color */
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  background: url('/imgs/img14.jpeg') center/cover no-repeat;
}

header {
  text-align: center;
  padding: 60px 10px;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  background: url('/imgs/IMG_0510.jpg') center/cover no-repeat;
  font-size: 0.90em;
}

h1 {
  font-size: 2em;
  background: -webkit-gradient(linear, right top, left top, from(blue), color-stop(red), color-stop(blue), color-stop(red), to(blue));
  background: -o-linear-gradient(right, blue, red, blue, red, blue);
  background: linear-gradient(to left, blue, red, blue, red, blue);
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0 0 35px #e22400;
  -webkit-animation: anime 2s infinite alternate;
          animation: anime 2s infinite alternate;
}
h3 {
  color: #fff;
}

gpp {
  color: #FF851A;;
}

p, ppp {
  font-size: 1em;
  margin-top: 10px;
  font-weight: bold;
}

#mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #333333;
  color: #ebebeb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#mode-toggle:hover {
  background-color: #ebebeb;
  color: #333333;
}

nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #121212;
  font-weight: bold;
  font-size: 1.2em;
}

.cta-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.cta-button {
  display: inline-block;
  padding: 15px 35px;
  background: rgba(18, 18, 18, 0.55); /* 121212 */
  color: #F1F1F1;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 5.5px;
  border: 2px solid #202020;
  cursor: pointer;
  -webkit-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.cta-button p {
  font-size: 0.9em;
  color: #F1F1F1;
  font-weight: bold;
  -webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

.cta-button pr {
  font-size: 0.5em;
  color: #FF851A;
  font-weight: bold;
}

.cta-button:hover {
  background-color: rgba(28, 28, 28, 0.55);
}

.cta-button:hover p {
  color: #1c59e8;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.bio-section {
  padding: 30px 20px;
  text-align: center;
  margin-top: 1px;
  background: url('/imgs/IMG_0509.jpg') center/cover no-repeat;
}

.data-section {
  padding: 30px 20px;
  text-align: center;
  margin-top: 20px;
  color: #FF851A;
  background-color: rgba(0, 0, 0, 0.5);
  background: url('/imgs/IMG_0511.jpg') center/cover no-repeat;
}

.data-section h2 {
  color: #000;
}

.bio-section pp {
  color: #FF851A;
  font-weight: bold;
  font-size: 0.85em;
}

.bio-section qq {
  color: #FF851A;
  font-weight: bold;
  font-size: 0.85em;
}

.data-section pp {
  font-size: 0.75em;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  margin-top: 5px;
}

footer oo {
  color: #FF851A;
  text-decoration: none;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333; /* Loading screen background color */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000; /* Ensure loading screen appears on top */
}

.loader {
  border: 8px solid #f1f1f1; /* Light gray */
  border-top: 8px solid #3498db; /* Discord blue for the top border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite; /* Animation for spinner */
}

/* Animation for the spinning loader */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

/* Once the page is loaded, hide the loading screen */
body.loaded #loading-screen {
  display: none;
}

/* Pulsating animation for the loading dots */
.pulse-container {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pulse-bubble {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #1c1c1c;
}

.pulse-bubble-1 {
  -webkit-animation: pulse .4s ease 0s infinite alternate;
          animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
  -webkit-animation: pulse .4s ease .2s infinite alternate;
          animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
  -webkit-animation: pulse .4s ease .4s infinite alternate;
          animation: pulse .4s ease .4s infinite alternate;
}

/* Pulsating animation */
@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: .25;
    -webkit-transform: scale(.75);
            transform: scale(.75);
  }
}
@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: .25;
    -webkit-transform: scale(.75);
            transform: scale(.75);
  }
}

@-webkit-keyframes anime {
  100%{
    text-shadow: 0 0 35px #0056d6;
  }
}

@keyframes anime {
  100%{
    text-shadow: 0 0 35px #0056d6;
  }
}

body.night-mode {
  background: #001;
  color: #fff;
}

body.night-mode header {
  background: #0002;
}

body.night-mode h1, h2 {
background: -webkit-gradient(linear, right top, left top, from(blue), color-stop(red), color-stop(blue), color-stop(red), to(blue));
background: -o-linear-gradient(right, blue, red, blue, red, blue);
background: linear-gradient(to left, blue, red, blue, red, blue);
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0 0 35px #e22400;
  -webkit-animation: anime 2s infinite alternate;
          animation: anime 2s infinite alternate;
}

body.night-mode h3 {
  background: -webkit-gradient(linear, right top, left top, from(blue), color-stop(red), color-stop(blue), color-stop(red), to(blue));
  background: -o-linear-gradient(right, blue, red, blue, red, blue);
  background: linear-gradient(to left, blue, red, blue, red, blue);
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0 0 35px #e22400;
  -webkit-animation: anime 2s infinite alternate;
          animation: anime 2s infinite alternate;
}

body.night-mode .data-section {
  background: #001;
}

body.night-mode .bio-section {
  background: #001;
}

body.night-mode .cta-button {
  background-color: #002; /* 121212 */
  border-color: #202020;
  color: #fff;
}

body.night-mode .cta-button:hover {
  background-color: #003; /* 333 */
}

body.night-mode .data-section h2 {
  background-color: #002;
  color: #fff;
}

body.night-mode footer {
  background-color: #333;
}

body.night-mode .cta-button p {
  font-size: 0.9em;
  color: #fff;
  font-weight: bold;
  -webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

body.night-mode .cta-button pr {
  font-size: 0.5em;
  color: #FF851A;
  font-weight: bold;
}

body.nigh-mode .cta-button:hover {
  background-color: #1c1c1c;
}

body.night-mode .cta-button:hover p {
  color: #1c59e8;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
